<div class="container">
    <div class="form-floating mb-3 mt-5">
        <input type="text" class="form-control" id="floatingInput" placeholder="Full Name" name="full_name" required>
        <label for="floatingInput">Full Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingPassword" placeholder="Age" name="age" required>
        <label for="floatingPassword">Age</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingPassword" placeholder="email" name="email" required>
        <label for="floatingPassword">Email</label>
    </div>
    <div class="input-group mb-5">
        <input type="file" class="form-control" id="inputGroupFile02" enctype="multipart/form-data" name="image"
            required>
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    <div class="input-group mb-3">
        <button type="submit" class="btn btn-primary btn-md">Submit</button>
    </div>
</div>
